name: test
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12"] 

    - name: Make plus command executable
      run: chmod +x plus
      
    - name: Run ALL test
      run: bash -xv ./test.bash
