name: test
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false  # 1つのバージョンがこけても他を最後まで実行する
      matrix:
        # 3.7はエラーの原因になるため除外
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Make calcwage executable
      run: chmod +x calcwage

    - name: Run ALL test
      run: bash -xv ./test.bash
